$colorPrimary: rgb(0 123 255);

.payment-cart-minimum {
  left: auto;
  right: 0;

  hr {
    margin: .2rem 0;
    border-top: 1px solid $colorPrimary;
  }

  .cart {
    margin: 0;
  }

  .p-menssage {
    margin: 0;
  }
}

.products-payment-cart-minimum {
  max-height: 200px;
  overflow-y: auto;

  div.row {
    margin: 10px 0 0 0;

    p {
      margin: 0;
      font-size: 0.8rem;
    }
  }
}

.total-payment-cart-minimum {
  margin: 0;

  div {
    margin: 0;

    p {
      margin: 0 0 0 10px;
      color: $colorPrimary
    }
  }
}

@media (min-width: 992px) {
  .payment-cart-minimum {
      width: 300px;
  }
}
